/* CSS BY (Mariah Nelson) */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    --primary-color: #484FB7; /* purple */
    --primary-color-light: #ffffff; /* white */
    --secondary-color: #E9BB57; /* yellow */
    --secondary-color-dark: #1E1E1E; /* dark gray */
    --secondary-color-light: #D9526F; /* pink */
    --background-color: #6B8FE7; /* lavender */
    --font-family-primary: Inter;
    --font-family-secondary: Kavoon;
}

/* GLOBAL STYLES (mobile first/small) */
/* (mobile first) */
@media (max-width: 450px) {
    body {
        max-width: 450px;
    }
}
/*(small) */
body {
    max-width:450px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

header, nav, main, footer {
    width: 440px;
}

header {
    background-color: var(--primary-color);
    text-align: center;
}

h1{
    font-family: var(--font-family-secondary);
    font-size: 3em;
    font-weight: 500;
    color: #ffffff; 
    padding: 25px 20px 5px 20px;
    margin: 7px;
}

h2 {
    font-size: 2em;
    font-family: var(--font-family-secondary);
}

h3 {
    font-size: 1.5em;
    font-family: var(--font-family-primary);
}

h4 {
    font-size: 1.15em;
    font-family: var(--font-family-primary);
}

header p{
    font-family: var(--font-family-primary);
    color: #ffffff;
    padding: 0 0px 45px 0; 
    font-style: italic;
    font-weight:400;
}

nav {
    background-color: #E9BB57;
    text-align: center;
}

nav h2 {
    font-family: var(--font-family-primary);
    font-size: 1.5em;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    padding: 15px 0 0 0;
    margin-bottom: 5px;
}

nav ul {
    list-style: none;
    padding: 0 0 25px 0;
}

nav ul li {
    padding: 0 20px 0 20px;
    margin: 0 5px 0px 5px;
}

nav a {
    font-family: var(--font-family-primary);
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    background: var(--primary-color-light);
    border: 5px solid var(--secondary-color);
    padding: 15px;
    font-weight: 800;
    text-transform: uppercase;
}

main {
    background-color: var(--primary-color);  
}

section#our-services h2 {
    color: var(--primary-color-light);
    padding: 15px 15px 5px 15px;
}

section#our-services h3 {
    color: var(--secondary-color);
    font-weight: 700;
    padding: 0 15px 0px 15px;
}

section#our-services section section {
    background-color: var(--primary-color-light);
    margin: 15px 25px;
    padding: 20px;
    border-radius: 15px;
}

img {
    margin-bottom: 15px;
}

h4 {
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    font-family: var(--font-family-primary);
    line-height: 1.5;
    font-weight: 450;
}

section#why-choose-us {
    background-color: var(--secondary-color-light);
    margin-top: 25px;
}

section#why-choose-us h2 {
    color: var(--primary-color-light);
    padding: 15px 15px 5px 15px;
}

section#why-choose-us ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 10px;
}

section#why-choose-us ul li {
    font-family: var(--font-family-primary);
    border-radius: 10px;
    padding: 40px 20px 40px 20px;
    margin: 0 5px 10px 5px;
    text-align: center;
    font-weight: 800;
    background-color: var(--primary-color);
}

section#why-choose-us li:nth-child(1) {
    background-color: #4CA7C0;
}
section#why-choose-us li:nth-child(2) {
    background-color: var(--background-color);
}
section#why-choose-us li:nth-child(3) {
    background-color: var(--secondary-color);
}
section#why-choose-us li:nth-child(4) {
    background-color: var(--primary-color-light);
}

section#prices h2 {
    color: var(--primary-color-light);
    padding: 15px 15px 5px 15px;
}

section#prices h3 {
    color: var(--secondary-color);
    font-weight: 700;
    padding: 0 15px 0px 15px;
}

table {
    width: 55%;
    margin: 10px auto 10px auto;
    border: 2px solid var(--secondary-color);
    background: var(--primary-color-light);
}

th {
    background-color: var(--secondary-color);
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--font-family-primary);
    padding: 15px;
    margin: 10px;
    text-align: center;
}

td {
    font-family: var(--font-family-primary);
    font-weight: 500;
    border: 2px solid var(--secondary-color);
    font-size:small;
    text-align: left;
    padding: 15px 10px 15px 20px;
}

section#take-the-first-step {
    background-color: var(--secondary-color-light);
    padding-bottom: 3px;
}

section#take-the-first-step h2 {
    color: var(--primary-color-light);
    text-align: left;
    padding: 20px 15px 5px 15px;
}

section#take-the-first-step p {
    font-family: var(--font-family-primary);
    color: var(--primary-color-light);
    padding: 5px 5px 10px 15px;
    line-height: 1.5;
}

section#take-the-first-step a {
    font-family: var(--font-family-primary);
    display: block;
    background-color: var(--primary-color-light);
    text-decoration: none;
    border-radius: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 75%;
    margin: 0 auto 5px auto;
    padding: 25px;
    box-shadow: 5px 5px 5px var(--secondary-color-dark);
    color: black;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--primary-color-light);
    font-family: var(--font-family-primary);
    padding: 50px 0 50px 0;
    font-size: small;
    margin-bottom: 50px;
}

footer a {
    margin-left: 70px;
    color: var(--primary-color-light);
    font-family: var(--font-family-primary);
    font-size: smaller;
}
