/* CSS BY (Mariah Nelson) */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    --primary-color: #484FB7;
    --secondary-color: #E9BB57;
    --background-color: #6b8be0;
    --font-family-primary: Inter;
    --font-family-secondary: Kavoon;
    --max-width: 450px;
}

/* GLOBAL STYLES (mobile first/small) */
@media screen and (max-width: 450px) {
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, nav, main, footer {
    width: 440px;
}

header {
    background-color: var(--primary-color);
    text-align: center;
}

h1{
    font-family: var(--font-family-secondary);
    font-size: 3em;
    font-weight: bold;
    color: #ffffff; 
    padding: 25px 20px 5px 20px;
    margin: 7px;
}

h2 {
    font-size: 2em;
    font-family: var(--font-family-secondary);
}

h3 {
    font-size: 1.5em;
    font-family: var(--font-family-primary);
}

h4 {
    font-size: 1.15em;
    font-family: var(--font-family-primary);
}

header p{
    font-family: var(--font-family-primary);
    color: #ffffff;
    padding: 0 0px 45px 0; 
    font-style: italic;
}

nav {
    background-color: #E9BB57;
    text-align: center;
}

nav h2 {
    font-family: var(--font-family-primary);
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    padding: 15px 0 0 0;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0 0 25px 0;
}

nav ul li {
    padding: 0 20px 0 20px;
    margin: 0 5px 0px 5px;
}

nav a {
    font-family: var(--font-family-primary);
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    background: #ffffff;
    border: 5px solid var(--secondary-color);
    padding: 15px;
    font-weight: bold;
}

main {
    background-color: var(--primary-color);  
}

section#our-services h2 {
    color: #ffffff;
}

main h3 {
    color: var(--secondary-color);
}

section#our-services section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
}

